@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap'); /* font-h1-and-h2.....*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');/* font-<p>-and-<ul>*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}